// Fonts
$f-roboto: 'Roboto', sans-serif;

// Color
$c-black: #222;
$c-white: #fff;
$c-accent: #cf4647;

// Transition
$t-base: 0.2s ease-in-out;

// Border radius
$r-base: 10px;

// Container
$container: 1260px;

// Padding
$p-container: 20px;

// Breakpoints
$desktop: 1599px;
$laptop: 1439px;
$laptop-small: 1259px;
$tablet: 999px;
$phablet: 767px;
$mobile: 479px;
$mobile-small: 374px;
